
@{
    ViewBag.Title = "Orders";
}
<script src="~/Scripts/Index/app.js"></script>
<script src="~/Scripts/Index/OrderController.js"></script>
<script src="~/Scripts/Index/Directives/Drag&DropDirectives.js"></script>
<h2>Orders</h2>
<div ng-app="OrderApp">
    <div ng-controller="OrderController">
        <div drop-target class="col-sm-4">
            <div ng-repeat="order in NewOrders">
                <div draggable="true" itemid="{{order.ID}}">
                    {{order.ClientName}}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div ng-repeat="order in ActiveOrders">
                <div draggable="true" itemid="{{order.ID}}">
                    {{order.ClientName}}
                </div>
            </div>
        </div>
        <div class="col-sm-4" drop-target container="CompletedOrders" style="border:1px red solid; height: 100px;">
            <div ng-repeat="order in CompletedOrders">
                <div>
                    {{order.ClientName}}
                </div>
            </div>
        </div>
    </div>
</div>



