
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/Index/app.js"></script>

<script src="~/Scripts/Index/OrderController.js"></script>
<h2>Index</h2>
<div ng-app="OrderApp">
    <div ng-controller="OrderController">
        <div ng-repeat="order in Orders">
            {{order.ClientName}}
        </div>
    </div>
</div>



